<%content_for(:sidebar) do %>
<a href="<%=new_project_invitation_path(@project)%>" class="button large action"><span><%= t "txt.memberships.new_member" %></span></a>
<% end %>

<div class="inner">

    <h1><%= t "txt.memberships.memberships" %></h1>



  <%= form_for @project, :url => project_memberships_path(@project), :method => :put do |f|%>
    <table>
      <thead>
      <tr>
        <th><%= t "txt.memberships.name" %></th>
        <th><%= t "txt.memberships.email" %></th>
        <th><%= t "txt.memberships.is_admin" %></th>
        <th><%= t "txt.memberships.is_developer" %></th>
        <th><%= t "txt.memberships.is_client" %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
    <%= f.fields_for :memberships do |membership| %>
          <tr>
          <td><%=membership.object.user.name%></td>
            <td><%=membership.object.user.email%></td>
            <td><%=membership.check_box :admin %><%=membership.hidden_field :id %></td>
            <td><%=membership.check_box :developer %></td>
            <td><%=membership.check_box :client %></td>
            <td><%=link_to t("txt.general.remove"), project_membership_path(@project, membership.object), :method => :delete, :confirm => t("txt.general.confirm") %></td>
          </tr>
    <% end %>
      </tbody>
    </table>

  <%=f.submit t("txt.general.save"), :class => "button" %>
  <% end %>

    <h1><%= t "txt.memberships.invitations" %></h1>
    <div id="invitations">
    <table>
      <thead>
      <tr>
        <th><%= t "txt.memberships.email" %></th>
        <th><%= t "txt.memberships.is_admin" %></th>
        <th><%= t "txt.memberships.is_developer" %></th>
        <th><%= t "txt.memberships.is_client" %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @project.invitations.each do |invitation| %>
          <tr>
          <td><%=invitation.email%></td>
            <td><%=invitation.admin? %></td>
            <td><%=invitation.developer? %></td>
            <td><%=invitation.client? %></td>
            <td><%=link_to t("txt.general.remove"), project_invitation_path(@project, invitation), :method => :delete, :confirm => t("txt.general.confirm") %></td>
          </tr>
    <% end %>
      </tbody>
    </table>
    </div>
</div>