<%= errors_for @estimate %>
<p class="properties"><%= f.label :name %>: <%= f.text_field :name %></p>
<table class="estimates">
  <thead>
  <tr>
    <th></th>
    <th>Min</th>
    <th>Max</th>
  </tr>
  </thead>
  <tbody>
  <%= f.fields_for :story_estimates do |g| %>
  <%= g.hidden_field :story_id %>
    <tr>
      <td class="story_title"><%= g.object.story.title_with_number %></td>
      <td class="hours"><%= g.text_field :min_hours %></td>
      <td class="hours"><%= g.text_field :max_hours %></td>
    </tr>
  <% end %>
  <%= f.fields_for :line_items do |g| %>
    <tr>
      <td class="story_title"><%= g.text_field :description %></td>
      <td class="hours"><%= g.text_field :min_hours %></td>
      <td class="hours"><%= g.text_field :max_hours %></td>
    </tr>
  <% end %>
  </tbody>
</table>
