<div class="inner">
<h1><%= t "txt.settings.settings" %></h1>
<%=form_for @user, :url => "/settings", :method => :put do |f|%>
  <%=errors_for @user %>
  <div class="field">
    <%=f.label :name, :value => t("txt.settings.name") %>
    <%=f.text_field :name%>
  </div>
  <div class="field">
    <%=f.label :email, :value => t("txt.settings.email") %>
    <%=f.text_field :email%>
  </div>
  <div class="field">
    <%=f.label :password, :value => t("txt.settings.password") %>
    <%=f.password_field :password %>
  </div>
  <div class="field">
    <%=f.label :password_confirmation, :value => t("txt.settings.password_confirmation") %>
    <%=f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%=f.label :time_zone, :value => t("txt.settings.time_zone") %>
    <%=f.time_zone_select( :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)")%>
  </div>
  <div class="field">
    <%=f.label :locale, :value => t("txt.settings.locale") %>
    <%=f.select :locale, I18n.available_locales, :default => I18n.default_locale %>
  </div>
  <%=f.submit t("txt.general.save"), :class => "button" %>
<%end%>
</div>