<div class="inner">
<h1>Add Member</h1>
    <%= form_for @invitation, :url => project_invitations_path(@project) do |f| %>
      <%=errors_for @invitation %>
<div class="field">
<%=f.label :email%>
<%=f.text_field :email%>
</div>
<div class="field">
<%=f.check_box :admin %>
  <%=f.label :admin, "This member will be an administrator.", :style=>"display: inline"%>

</div>

      <div class="field">
<%=f.check_box :developer %>
        <%=f.label :developer, "This member is a developer.", :style=>"display: inline"%>

</div>
      <div class="field">
<%=f.check_box :client %>
        <%=f.label :client, "This member is a client.", :style=>"display: inline"%>
</div>
<%=f.submit "Invite New Member", :class=> "button"%>
      <% end %>
</div>