<div class="inner">
  <h1>Settings</h1>
  <%=form_for(@project) do |f|%>
  <%=errors_for @project %>
    <div class="field">
      <%=f.label :name%>
      <%=f.text_field :name %>
    </div>
    <%=f.submit "Update", :class => "button" %>
  <% end %>
</div>
<div class="inner">
  <h1>API Key</h1>
  <%=form_for(@project, :url => generate_api_key_project_path(@project)) do |f|%>
  <%=errors_for @project %>
    <div class="field" id="project_api_key"><%= @project.api_key.blank? ? "None" : @project.api_key %></div>
    <%=f.submit "Generate new API key", :class => "button" %>
  <% end %>
</div>