<%content_for(:sidebar) do %>
<a href="<%=new_project_invitation_path(@project)%>" class="button large action"><span><%= t "txt.memberships.new_member" %></span></a>
<% end %>
<div id="project_edit" class="inner">
  <div class="section">
  <h1><%= t "txt.projects.settings" %></h1>
  <%=form_for(@project) do |f|%>
  <%=errors_for @project %>
    <div class="field">
      <%=f.label :name, :value => t("txt.projects.name") %>
      <%=f.text_field :name %>
    </div>
    <div class="field">
      <%=f.check_box :public %>
      <%=f.label :public, :style=>"display:inline", :value => t("txt.projects.public") %>

    </div>
    <%=f.submit t("txt.general.save"), :class => "button" %>
  <% end %>
    </div>
  <div class="section">
    <h1><%= t "txt.memberships.memberships" %></h1>
  <%= form_for @project, :url => project_memberships_path(@project), :method => :put do |f|%>
    <table>
      <thead>
      <tr>
        <th><%= t "txt.memberships.name" %></th>
        <th><%= t "txt.memberships.email" %></th>
        <th><%= t "txt.memberships.is_admin" %></th>
        <th><%= t "txt.memberships.is_developer" %></th>
        <th><%= t "txt.memberships.is_client" %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
    <%= f.fields_for :memberships do |membership| %>
          <tr>
          <td><%=membership.object.user.name%></td>
            <td><%=membership.object.user.email%></td>
            <td><%=membership.check_box :admin %><%=membership.hidden_field :id %></td>
            <td><%=membership.check_box :developer %></td>
            <td><%=membership.check_box :client %></td>
            <td><%=link_to t("txt.general.remove"), project_membership_path(@project, membership.object), :method => :delete, :confirm => t("txt.general.confirm") %></td>
          </tr>
    <% end %>
      </tbody>
    </table>

  <%=f.submit t("txt.projects.update_memberships"), :class => "button" %>

  <% end %>
<%=button_to t("txt.projects.add_member"), new_project_invitation_path(@project), :class => "button", :method => :get%>

</div>

  <div class="section">
    <h1><%= t "txt.invitations.invitations" %></h1>
    <div id="invitations">
    <table>
      <thead>
      <tr>
        <th><%= t "txt.memberships.email" %></th>
        <th><%= t "txt.memberships.is_admin" %></th>
        <th><%= t "txt.memberships.is_developer" %></th>
        <th><%= t "txt.memberships.is_client" %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @project.invitations.each do |invitation| %>
          <tr>
          <td><%=invitation.email%></td>
            <td><%=invitation.admin? %></td>
            <td><%=invitation.developer? %></td>
            <td><%=invitation.client? %></td>
            <td><%=link_to t("txt.general.remove"), project_invitation_path(@project, invitation), :method => :delete, :confirm => t("txt.general.confirm") %></td>
          </tr>
    <% end %>
      </tbody>
    </table>
      
    </div>
  </div>
  <div class="section">
  <h1><%= t "txt.projects.api_key" %></h1>
  <%=form_for(@project, :url => generate_api_key_project_path(@project)) do |f|%>
  <%=errors_for @project %>
    <div class="field" id="project_api_key"><%= @project.api_key.blank? ? t("txt.projects.none") : @project.api_key %></div>
    <%=f.submit t("txt.projects.generate_api_key"), :class => "button" %>
  <% end %>
   </div>
</div>