<div class="inner">
<h1>New Project</h1>
<%=form_for(@project) do |f|%>
<%=errors_for @project %>
    <div class="field">
   <%=f.label :name%>
    <%=f.text_field :name %>
      </div>
   <div class="field">
     What is your role on the this project?
   </div>
   <div class="field">
    <%=check_box_tag "client", "1" %>
      <%=label_tag "client", "I am a client", :style=>"display: inline"%>
      </div>
      <div class="field">
    <%=check_box_tag "developer", "1" %>
        <%=label_tag "developer", "I am a developer", :style=>"display: inline"%>
      </div>
    <%=f.submit "Create", :class => "button" %>
<% end %>
</div>