<%=errors_for @story %>
<div class="field">
<%=f.label :title%>
<%=f.text_field :title%>
</div>
<div class="field">
<%=f.label :actor, (@story.actor ? as_a_or_an(@story.actor.name) : "As a"), :style=>"margin-right: 5px; display:inline" %>
<%=f.select :actor_id, @project.actors.alphabetical.collect {|a| [ a.name, a.id ] }, { :include_blank => true } %>
</div>
<div class="field">
<%=f.text_area :description%>
</div>