<% content_for(:sidebar) do %>
<div class="inner">
    <ul class="actions">
    <li><a rel="nofollow" data-method="delete" data-confirm="Are you sure?" href="<%=project_story_path(@project,@story)%>" class="button red"><span>Delete Story</span></a></li>
    </ul>
</div>
<% end %>
<div class="inner">
  <h1>#<%=@story.project_story_id%>: <%=@story.title%></h1>
<%=form_for @story, :url => project_story_path(@project, @story), :method=>:put do |f|%>
<%=render :partial => "fields", :locals => {:f =>f}%>
    <%=f.submit "Update", :class=>"button"%>
<% end %>
</div>