<%=errors_for @feature %>
<div class="field">
<%=f.label :title, :value => t("txt.features.title") %>
<%=f.text_field :title%>
</div>
<div class="field">
<%=f.label :actor, (@feature.actor ? as_a_or_an(@feature.actor.name) : "As a"), :style=>"margin-right: 5px; display:inline" %>
<%=f.select :actor_id, @project.actors.alphabetical.collect {|a| [ a.name, a.id ] } + [["----------",""],[t("txt.actors.add_actor"), "0"]], { :include_blank => true } %>
<%= text_field_tag :feature_actor_name %>
</div>
<div class="field">
<%=f.text_area :description%>
</div>