<% content_for(:sidebar) do %>
<div class="inner">
    <ul class="actions">
    <li><a rel="nofollow" data-method="delete" data-confirm="<%= t "txt.general.confirm" %>" href="<%=project_feature_path(@project,@feature)%>" class="button red"><span><%= t "txt.features.delete_feature" %></span></a></li>
    </ul>
</div>
<% end %>
<div class="inner">
  <h1>#<%=@feature.project_feature_id%>: <%=@feature.title%></h1>
<%=form_for @feature, :url => project_feature_path(@project, @feature), :method=>:put, :html => {"project-id" => @project.id} do |f|%>
<%=render :partial => "fields", :locals => {:f =>f}%>
    <%=f.submit t "txt.general.update", :class=>"button"%>
<% end %>
</div>