<div feature-id="<%=@feature.id%>" project-id="<%=@project.id%>" class="feature inner">
  <% if @membership%>
  <ul class="actions">
        <li><a href="<%=edit_project_feature_path(@project,@feature)%>" class="button"><span><%= t "txt.general.edit" %></span></a></li>
        <% if current_admin? %>
        <li><a rel="nofollow" data-method="delete" data-confirm="<%= t "txt.general.confirm" %>" href="<%=project_feature_path(@project,@feature)%>" class="button red"><span><%= t "txt.general.delete" %></span></a></li>
        <% end %>
    </ul>
   <% end %>
<h1>#<%=@feature.project_feature_id%>: <%=@feature.title%></h1>
<div class="description">
  <div class="as_a"><%=link_to t("txt.features.as_a", :actor => @feature.actor.name), project_features_path(@project,:actor_id => @feature.actor.id)%></div>
  <%=simple_format(link_feature_terms(@feature))%>
</div>

  <div class="signatures">


    <div class="developer signature">
      <div class="ink">
    <% if @feature.developer_signature %>
    <h2><%=@feature.developer_signature.user.name%></h2>
    <%else%>
        <% if @membership && @membership.developer %>
        <%=button_to t("txt.features.sign_off_developer"), developer_sign_project_feature_path(@project, @feature), :method => :put, :class => "button large"%>
        <% end %>
    <% end %>
      </div>
      <div class="byline"><%= t "txt.general.developer" %><% if @feature.developer_signature %><div><%=@feature.developer_signature.created_at.to_s(:day_time)%></div><% end %></div>
    </div>

        <div class="client signature">
      <div class="ink">
    <% if @feature.client_signature %>
    <h2><%=@feature.client_signature.user.name%></h2>
    <%else%>
        <% if @membership && @membership.client %>
            <%=button_to t("txt.features.sign_off_client"), client_sign_project_feature_path(@project, @feature), :method => :put, :class => "button large"%>
        <% end %>
    <% end %>
        </div>
      <div class="byline"><%= t "txt.general.client" %><% if @feature.client_signature %><div><%=@feature.client_signature.created_at.to_s(:day_time)%></div><% end %></div>
    </div>
  </div>
  <div style="clear:both;"></div>

</div>
<% unless @feature.test_scenarios.empty? %>
<div id="test_scenarios">
<ul>
  <% for scenario in @feature.test_scenarios -%>
  <li class="<%=scenario[:passed]%>"><%=scenario[:name]%></li>
  <% end -%>
</ul>
</div>
<% end %>
<% content_for(:bottom_content) do %>
    <ul id="comments">
      <%= render :partial => "comment", :collection => @feature.comments.latest %>
    </ul>
    <%if @membership%>
    <%= form_for :comment, :url => comment_project_feature_path(@project, @feature), :html => {:id => "new_comment"} do |f| %>
      <%= f.text_area :body %>
      <%= f.submit t "txt.features.post_comment", :class => "button " %>
    <% end %>
    <% end%>
<% end %>
