<div class="inner">
  <h1><%= t "txt.nav.sign_in" %></h1>
<%= form_for @user_session, :url => user_session_path do |f| %>
   <div class="field">
      <%= f.label :email, :value => t("txt.settings.email") %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
  <%= f.label :password, :value => t("txt.settings.password") %>
  <%= f.password_field :password %>
  </div>
  <%= f.submit t("txt.nav.sign_in"), :class=>"button",:style=>"margin-right: 0.5em;" %> or <%= link_to t("txt.nav.reset_password"), new_password_reset_path %>
<% end %>
</div>