<div class="inner">
  <h1>Sign in</h1>
<%= form_for @user_session do |f| %>
   <div class="field">
      <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
  </div>
  <%= f.submit "Sign in", :class=>"button",:style=>"margin-right: 0.5em;" %> or <%= link_to "Sign up", "/signup"%>
<% end %>
</div>