<div class="inner">
  <h1>Sign in</h1>
<%= form_for @user_session, :url => user_session_path do |f| %>
   <div class="field">
      <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
  </div>
  <%= f.submit "Sign in", :class=>"button",:style=>"margin-right: 0.5em;" %> or <%= link_to "Reset Password", new_password_reset_path %>
<% end %>
</div>