<!DOCTYPE html>
<html>
<head>
  <title><%=@meta_title.reverse.join(" - ")%></title>
  <link type="image/png" href="/favicon.png" rel="icon">
  <%= stylesheet_link_tag "screen" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
<div id="header">
  <h1><% if @project && @project.persisted? %><a href="<%=project_path(@project)%>" class="current_project"><%=@project.name%></a><% else %><a href="/">REACT</a><% end %><% if @project && @membership && @membership.admin?%><%=link_to(image_tag("gear.png"), edit_project_path(@project), :title => "Project Settings", :class=>"project_settings")%><%end%></h1>
  <ul class="projects">
    <% if @project && @project.persisted? %>
    <% current_user.projects.except(@project).alphabetical.each do |project| %>
     <li><%=link_to project.name, project_path(project)%></li>
    <% end %>
        <li class="new-project"><%=link_to "Projects", projects_path%></li>
    <% end  %>
  </ul>
<ul class="nav">
<%if current_user %>
<li><%=link_to current_user.name, "/settings"%></li>
<li class="last"><%=link_to "Sign out", "/signout"%></li>
<%else%>
<li><%=link_to "Sign in", "/signin"%></li>
<li class="last"><%=link_to "Sign up", "/signup"%></li>
<%end%>
</ul>
<% if @project%><a href="<%=new_project_feature_path(@project)%>" class="button action" id="add_feature"><span>ADD FEATURE</span></a><%end%>
</div>
<% if flash[:notice]%><div id="flash"><%=flash[:notice]%></div><% end %>
<div id="content_container">
<div id="layout">
<div id="content">
  <div id="top_content"><%= content_for?(:content) ? yield(:content) : yield %></div>
  <div id="bottom_content"><%= yield(:bottom_content) %></div>
<% if @project %>
  <a id="glossary_tab"><img src="/images/glossary_tab.png"/></a>

  <div id="glossary">
    <ul>
    <%= render :partial => "glossary_terms/term", :collection => @project.glossary_terms.alphabetical %>
    </ul>
    <a class="button action" id="add_term_button"><span>ADD TERM</span></a>
        <div id="add_term">
<h1>Add Term</h1>
<%=form_for :glossary_term, :url => project_glossary_terms_path(@project), :remote => true do |f|%>
    <%=render :partial => "glossary_terms/fields", :locals => {:f =>f}%>
    <%=f.submit "Create", :class=>"button action"%> or <%=link_to "Cancel", "", :class=>"cancel"%>
<% end %>
    </div>
  </div>
<%end %>
</div>
</div>
</div>
<div id="footer">
  <div class="small_icon"><a href="http://reactualize.com"><img src="/images/footer.png"/></a></div>
  <div class="copyright">
    <p>REACT is an <a href="http://kyleshank.com/open-source-web-applications">Open Source Web Application</a> and licensed under the <a href="http://www.gnu.org/licenses/agpl.html">AGPL</a></p>
    <p>Source code for this application is available at: <a href="http://github.com/reactualize/react">http://github.com/reactualize/react</a></p>
    <p>&copy; 2011 <a href="http://reactualize.com">REACTUALIZE LLC</a></p>
  </div>
</div>
</div>
</body>
</html>
