<div class="home inner">
  <h1><%= t "txt.homepage.rethinking_requirements" %></h1>
  <p><%= t "txt.homepage.react_is" %></p>
  <p><iframe title="YouTube video player" width="657" height="400" src="http://www.youtube.com/embed/exvkFHUqiJ0" frameborder="0" allowfullscreen></iframe></p>
  <h3><%= t "txt.homepage.stop_passing" %></h3>
  <p><%= t "txt.homepage.passing_around_files" %></p>
  <h3><%= t "txt.homepage.sign_on_the_line" %></h3>
  <p><%= t "txt.homepage.adding_a_feature" %></p>
  <h3><%= t "txt.homepage.documentation" %></h3>
  <p><%= t "txt.homepage.react_connects" %></p>
  <p><%= t "txt.homepage.effective_requirements" %></p>
</div>